//mobile
$mobile-screen-width: 431px;
$tablet-screen-width: 835px;
$tablet-screen-min-width: 432px;
$mobile-landscape-width: 933px;

$top-nav-height: 80px;

// color termplate
// https://colorhunt.co/palette/f5efffe5d9f2cdc1ffa294f9

$primary-color: #A294F9;
$border-color: #E5D9F2;
$outlet-background: #F5EFFF;

//font-family
$font-family-inter: "Inter", sans-serif;
$font-poppins: "Poppins", sans-serif;