.header {
  height: 56px;
  background-color: var(--mantine-color-body);
  display: flex;
  flex-direction: column;
  justify-content: center;

  .sidebarMenuBtn {
    @media (min-width: 56.25em) {
      display: none;
    }
  }
}